<div class="uk-background-muted pa4 br2 mb4">
  <div class="uk-grid-medium uk-flex-middle" uk-grid>
    <div class="uk-width-auto">
      <img class="uk-comment-avatar uk-border-circle uk-box-shadow-large" src="/static/images/terrillo-m-walls.jpg"
        width="60" height="60" alt="Terillo Walls">
    </div>
    <div class="uk-width-expand">
      <h4 class="b cursive uk-comment-title uk-margin-remove">Terrillo Walls</h4>
      <p class="f6 serif">Software Consultant & Software Engineer</p>
    </div>
  </div>
</div>