{% extends "_layout.html" %} {% block content %}

<header class="mt4">
  <h2 class="tc f3 mb1 b serif">Terrillo Walls</h2>
  <h3 class="tc f4 mb1 b serif">Product News, Agency News, and Sofware tips</h3>
</header>

<main class="pv5 serif">

  {% for post in posts %}
  <a href="/article/{{ post.slug }}" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="/static/blog/{{ post.image.src }}" alt="{{ post.title }}" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title mb2 b serif">{{ post.title }}</h3>
        <p class="f6">{{ post.description }}</p>
        <p class="f6 i">{{ post.published }}</p>
      </div>
    </div>
  </a>
  {% endfor %}

</main>

{% endblock %}