<!doctype html>
<html lang="en">

<head>
    <title>About - Terrillo Walls</title>
    <meta name="description" content="Software Consultant &amp; Software Engineer" />
    <link rel="canonical" href="https://terrillo.com/" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.1" />
    <link rel="alternate" type="application/rss+xml" title="Terrillo Walls Feed" href="https://terrillo.com/feed/" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@terrillo" />
    <meta name="twitter:creator" content="@terrillo" />
    <meta name="twitter:url" content="https://terrillo.com/" />
    <meta name="twitter:title" content="About" />
    <meta name="twitter:description" content="Software Consultant &amp; Software Engineer" />

    <meta name="twitter:image" content="https://terrillo.com/static/images/terrillo-m-walls.jpg" />


    <!-- Open Graph -->
    <meta property="og:title" content="About" />
    <meta property="og:description" content="Software Consultant &amp; Software Engineer" />
    <meta property="og:site_name" content="Terrillo Walls" />
    <meta property="og:url" content="https://terrillo.com/" />

    <meta property="og:image" content="https://terrillo.com/static/images/terrillo-m-walls.jpg" />
    <meta property="og:image:height" content="900" />
    <meta property="og:image:width" content="900" />


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="google-site-verification" content="G-yiVnfI0O-hVDGBz7RIJP5GX5vglrWfo0BWklZqCXA" />
    <meta property="author" content="Terrillo Walls" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/vendor/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/vendor/tachyons.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Roboto+Mono:wght@300&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap"
        rel="stylesheet" />

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SGL382EFN5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-SGL382EFN5');
    </script>

    <!-- UIkit JS -->
    <script src="/static/vendor/uikit.min.js"></script>


    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Terrillo Walls",
        "givenName": "Terrillo Walls",
        "disambiguatingDescription": "Software Consultant & Software Engineer",
        "image": "https://terrillo.com/static/images/terrillo-walls.JPG",
        "email": "terrillo@terrilo.com",
        "url": "https://terrillo.com"
      }
    </script>


    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="EOHZTGQS" defer></script>
    <!-- / Fathom -->

</head>

<body>

    <div class="uk-container mw7">
        <nav class="uk-navbar-container uk-navbar-transparent sans-serif flex-column flex-row-ns" uk-navbar>
            <div class="uk-navbar-left dn db-ns">
                <a class="uk-navbar-item uk-logo b black" href="/">Terrillo Walls</a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="https://khabin.tech">Hire / Contact</a></li>
                </ul>
            </div>
        </nav>

        <!-- Header -->
        <header class="mt4">
            <img class="uk-border-circle center tc db mb3 uk-box-shadow-large" src="/static/images/terrillo-walls.jpeg"
                width="120" height="120" alt="Terrillo Walls">
            <h1 class="tc f1 mb1 cursive">Terrillo Walls</h1>
            <h2 class="tc f4 mb1 b serif">CEO @ Khabin Technology</h2>
        </header>

        <main class="pv5">
            <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>

                <!-- LEFT -->
                <div>
                    <p class="b">About Terrillo Walls</p>
                    <p class="f6 serif">Born in New Orleans, LA. Terrillo is an Award-Winning Technology Leader.</p>
                    <p class="f6 serif">Directed technology teams as a consultant and worked for Marketing Agency,
                        Technology, and
                        Media company from 2012 to 2022.</p>
                    <p class="f6 serif">Founded <a href="https://khabin.tech">Khabin Technology</a> in 2020. Software
                        Technology
                        Consulting and Development</p>
                    <p class="b">Mission Statement</p>
                    <p class="f6 serif">Enabling organizations and business owners to utilize & build software
                        technology in a
                        maintainable and scalable manner.</p>
                </div>

                <!-- RIGHT -->
                <div>
                    <p class="b">2019 BIMS Emerging Leader Winner</p>
                    <p class="f6 serif">Each year, member companies nominate their "rising stars" aged 35 and under (at
                        the time of
                        nomination.) Finalists are selected by a panel of SIIA executives – with only five winners
                        selected by a panel
                        of elite business executives.</p>
                    <p class="b">Self Taught Software Software Engineer</p>
                    <p class="f6 serif">Over 10 years of experience working with HTML, CSS, JS, PHP, & LINUX servers.
                        Other
                        experiences included AWS, Swift, Java, Python, Golang, Objective-C, & Natural Language
                        processing.</p>
                </div>

            </div>

            <!-- NOW PLAYING -->


        </main>


        <footer class="pb4 mid-gray">
            <div class="tc">
                <a rel="me" href="https://mastodon.social/@mrterrillo" class="f6 dib ph2 link mid-gray dim">Mastodon</a>
                <a href="https://github.com/terrillo" class="f6 dib ph2 link mid-gray dim">GitHub</a>
                <a href="https://instagram.com/mrterrillo" class="f6 dib ph2 link mid-gray dim">Instagram</a>
                <a href="https://www.youtube.com/channel/UC3uyZ4xqUCGbMP6IVfPQ7Ng"
                    class="f6 dib ph2 link mid-gray dim">YouTube</a>
                <a href="https://www.linkedin.com/in/terrillo-walls" class="f6 dib ph2 link mid-gray dim">LinkedIn</a>
            </div>
        </footer>
    </div>

    <!-- Ion Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="/static/vendor/ionicons.js"></script>


</body>

</html>